@import 'vars';

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(55% - $standartWidth / 2);
    padding-right: calc(55% - $standartWidth / 2);
}

.top {
    background-color: #fff;
    padding-top: 53px;
    padding-bottom: 63px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__left {
        width: 50%;
        display: flex;
        align-items: center;

        &__link {
            width: 200px;
            display: flex;
            align-items: center;
            padding: 10px 0;

            &__img {
                width: 34px;
                height: auto;
            }

            &__subtitle {
                padding-left: 8px;
                line-height: 32px;
                font-weight: 300;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: rgb(41, 47, 54);
                font-size: 40px;
                font-weight: 400;
                line-height: 125%;
                letter-spacing: 0%;

            }
        }
    }

    &__right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .navigation {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .breadcrumbs {

        &__ul {
            list-style-type: none;
            display: flex;
        }

        &__link {
            display: block;
            padding-left: 35px;
            color: rgb(41, 47, 54);
            font-size: 20px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 0%;
            text-align: center;
        }


        &__link:hover {
            color: blue;
        }
    }
}

.tagline {
    background-color: #fff;
    padding-bottom: 96px;
    height: 760px;


    &__content {
        background-image: url("../Images/Homepagemain.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 7%;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        height: 100%;

        &__txt {
            display: flex;
            flex-direction: column;
            align-content: space-between;
            width: 40%;
            padding-left: 52px;
            gap: 20px;
        }

        &__button {
            width: 40%;
            padding: 1.5rem;
            border-radius: 18px;
            box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);
            background: rgb(41, 47, 54);
            color: rgb(255, 255, 255);
            font-family: Jost;
            font-size: 18px;
            font-weight: 600;
            line-height: 125%;
            letter-spacing: 2%;
            text-align: center;
            border: none;
        }

        &__arrow {
            width: 14px;
            padding-left: 10px;
        }
    }

    &__txt1 {

        // @extend %taglineTextStyle;
        color: rgb(41, 47, 54);
        // font-family: DM Serif Display;
        font-size: 65px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0%;
        text-align: left;
    }

    &__txt2 {
        // @extend %taglineTextStyle;
        color: rgb(77, 80, 83);
        // font-family: Jost;
        font-size: 22px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 1%;
        text-align: left;
    }


}

.katalog {

    &__top {
        display: flex;
        flex-direction: column;
        padding-bottom: 108px;

        &__title {
            text-align: center;
            color: rgb(41, 47, 54);
            // font-family: DM Serif Display;
            font-size: 50px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 2%;
            text-align: center;
        }

        &__subtitle {
            text-align: center;
            color: rgb(77, 80, 83);
            // font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1%;
            text-align: center;
        }
    }

    &__middle {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

.miditem {
    display: flex;
    background-color: #FFF;
    width: ($standartWidth - $gapKatalog*8)/2;
    margin-bottom: 50px;

    &__container {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__caption {
            display: flex;
            justify-content: space-between;
        }

        &__link {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
        }

        &_img {
            width: 100%;
            height: 425px;
            overflow: hidden;
            object-fit: cover;
        }

        &__title {
            color: rgb(41, 47, 54);
            // font-family: DM Serif Display;
            font-size: 25px;
            font-weight: 400;
            line-height: 125%;
            letter-spacing: 2%;
            text-align: left;
        }

        &__txt {
            color: rgb(77, 80, 83);
            // font-family: Jost;
            font-size: 22px;
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 1%;
            text-align: left;
        }


    }

    &__button {
        display: flex;
        align-items: center;

        &__inside {
            border-radius: 50%;
            background: rgb(244, 240, 236);
            width: 50px;
            height: 50px;
            border: none;
        }

        &__inside:hover {
            border: 1px solid blue;
        }

        // &__arrow{

        // }
    }
}

.left-first {
    border-radius: 0% 20% 0% 0%;
}

.left-second {
    border-radius: 0% 0% 20% 0%;

}

.right-second {
    border-radius: 0% 0% 0% 20%;

}

.right-first {
    border-radius: 20% 0% 0% 0%;

}